name: narwhal-nodes

services:
{{- range $i := (until 4) }}  # 直接在模板中定义 NodeCount 为 4
  primary_{{$i}}:
    image: 117503445/narwhal
    environment:
      - NODE_TYPE=primary
      - VALIDATOR_ID={{ $i }}
      - EXECUTOR_PORT=5005{{ $i }}
      - LOG_LEVEL=-vvv
      - CONSENSUS_DISABLED=--consensus-disabled
    expose:
      - "3000" # Port to listen on messages from other primary nodes
      - "3001" # Port to listen on messages from our worker nodes
    ports:
      - "800{{$i}}:8000" # expose the gRPC port to be publicly accessible
      - "810{{$i}}:8010" # expose the port listening to metrics endpoint for prometheus metrics
    volumes:
      - ./validators:/validators
      - ./validators/validator-{{$i}}/logs:/home/logs
      - ./logs:/logs
    init: true

  worker_{{$i}}:
    image: 117503445/narwhal
    depends_on:
      - primary_{{$i}}
    environment:
      - NODE_TYPE=worker
      - VALIDATOR_ID={{ $i }}
      - LOG_LEVEL=-vvv
      - WORKER_ID=0
    expose:
      - "4000" # Port to listen on messages from our primary node
      - "4001" # Port to listen for transactions from clients
      - "4002" # Port to listen on messages from other worker nodes
    ports:
      - "700{{$i}}:4001" # expose the port for the worker to accept transactions from clients
    volumes:
      - ./validators:/validators
      - ./validators/validator-{{$i}}/logs:/home/logs
      - ./logs:/logs
    init: true

  qexecutor_{{$i}}:
    image: 117503445/narwhal
    depends_on:
      - primary_{{$i}}
    environment:
      - NODE_TYPE=qexecutor
      - WORKER_ID={{ $i }}
      - GRPC_PORT=5005{{ $i }}
    volumes:
      - ./validators:/validators
      - ./validators/validator-{{$i}}/logs:/home/logs
      - ./logs:/logs
      - ./data/qexecutor-{{$i}}:/data
    init: true

  indexer_{{$i}}:
    image: 117503445/narwhal
    depends_on:
      - primary_{{$i}}
    environment:
      - NODE_TYPE=indexer
      - WORKER_ID={{ $i }}
      - GRPC_PORT=3005{{ $i }}
    volumes:
      - ./validators:/validators
      - ./validators/validator-{{$i}}/logs:/home/logs
      - ./logs:/logs
      - ./data/indexer-{{$i}}:/data
    init: true
    ports:
      - "4005{{ $i }}:3005{{ $i }}"
{{- end }}